@import '../../styles/devday.scss';

main.home {

  nav {
    @extend .mdl-cell;
    @extend .mdl-cell--4-col-phone;
    @extend .mdl-cell--8-col-tablet;
    @extend .mdl-cell--12-col-desktop;
    margin: 12px 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-weight: 400;

    & > a {
      margin-left: auto;
    }
  }

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    margin-left: 0.5rem;
    line-height: 1.15;
    margin-bottom: 1rem;
    font-family: $heading-font;
    width: 100%;
  }

  .message {
    color: white;
    clear: both;
    display: block;
    text-align: center;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    font-family: $heading-font;
    font-weight: 100;

    a {
      color: white;

      &:link, &:visited, &:hover, &:active, &:focus {
        color: white;
      }
    }
  }
}
