node_modules/
devday.iml
.tmp/
.idea/
.vs/
*.suo
_site
.sass-cache
.jekyll-metadata
Gemfile.lock
.vscode/.browse.VC.db-wal
.vscode/.browse.VC.db
.vscode/.BROWSE.VC.DB-shm
typings/
*.map
src/**/*.js
!src/backend/**
npm-debug.log
attendancedb/
