
<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
            Organised and hosted by
        </div>
        <ul class="mdl-mega-footer--link-list">
            <li><a href="http://sahajsoft.com/" target="_blank" class="sahaj-logo"></a></li>
            <li><a href="http://sahajsoft.com/" target="_blank">Sahaj Software Solutions Pvt. Ltd</a></li>
            <li>Copyright &#169; 2016</li>
        </ul>
    </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="scripts/global.min.js"></script>
<script src="scripts/main.min.js"></script>
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-74489843-1', 'auto');
        ga('send', 'pageview');
</script>
<!--<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>-->
