<header>
    <div class="container">
        <div class="content">
            <a class="title" href="/">
                <img src="{{ site.github.url }}/images/logo.gif">
            </a>
            <div class="search box">
                <label for="search-field">
                    <i class="material-icons">search</i>
                </label>
                <div class="input holder">
                    <input type="text" id="search-field">
                </div>
            </div>
            <div class="navigation container">
                <nav>
                    <a href="{{ site.github.url }}/archive">Archive</a>
                </nav>
            </div>
        </div>
    </div>
</header>