.devday.footer {
    margin-top: 80px;
    height: 120px;
    padding: 40px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    background-color: #3F51B5;
    box-sizing: border-box;
}