::-webkit-input-placeholder {
  color: $light-secondary-text-color !important;
}

:-moz-placeholder {
  color: $light-secondary-text-color !important;
}

::-moz-placeholder {
  color: $light-secondary-text-color !important;
}

:-ms-input-placeholder {
  color: $light-secondary-text-color !important;
}

.devday.home {

    &::before {
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        content: '';
        will-change: transform;
        z-index: -2;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: fixed;

        // background image source: https://www.pexels.com/photo/people-meeting-workspace-team-7097/

        @media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
          (max-width: 512px)  and (min-resolution: 1.5dppx),
          (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
          (max-width: 1024px) and (max-resolution: 1.5dppx) {
            background-image: url('../images/bg_1024.jpg');
        }

        @media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
            (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
            (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
            (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
            background-image: url('../images/bg_2048.jpg');
        }

        @media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
            (min-width: 1025px) and (min-resolution: 1.5dppx),
            (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
            (min-width: 2049px) and (max-resolution: 1.5dppx) {
            background-image: url('../images/bg_2880.jpg');
        }
    }


    &::after {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        content: '';
        will-change: transform;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: fixed;
    }

    & > .container {
        @extend .mdl-layout__container;

        & > .layout {
            @extend .mdl-layout;
            @extend .has-drawer;
            @extend .is-upgraded;

            & > .content {
                @extend .mdl-layout__content;
                position: relative;

                & > header {

                    padding: 20px;

                    & > h1 {
                        text-align: center;

                        & > img {
                            width: 50%;
                            max-width: 500px;
                        }
                    }

                    & > h2 {
                        text-align: center;
                        color: white;
                        font-weight: 400;
                        font-size: 2em;
                        line-height: 1.25em;
                        max-width: 90%;
                        margin: 0 auto;
                        height: 130px;

                        & > span {
                            border-bottom: 1px rgba(255,255,255,0.87) solid;
                            display: inline-block;

                            &.noun {
                              width: 160px;
                            }

                            &.topic {
                              width: auto;
                              min-width: 215px;
                            }
                        }
                    }
                }

                & > main {
                    @extend .mdl-grid;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    max-width: 900px;
                    padding: 0;
                    width: 100%;
                    margin: 0 auto;
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;

                    & > .event.card {
                        @extend .mdl-card;
                        @extend .mdl-cell;
                        @extend .mdl-cell--4-col-phone;
                        @extend .mdl-cell--4-col-tablet;
                        @extend .mdl-cell--6-col-desktop;

                        z-index: 10;
                        height: 550px;
                        background: white;
                        transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                        transform-origin: 0% 0%;
                        cursor: pointer;

                        & > .primary.info {
                          position: absolute;
                          z-index: 0;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          transition-property: right;
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          background: white;
                          transition-delay: .15s;

                          & > .content {
                            padding: 20px;
                            overflow: hidden;
                            transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            transition-delay: .6s;

                            & > h5 {
                              font-size: inherit;
                              color: $dark-secondary-text-color;
                              margin: 0;
                              font-weight : normal;
                            }

                            & > h4 {
                              font-size: inherit;
                              color: $dark-secondary-text-color;
                              margin: 0;
                              margin-top : 3px;
                            }

                            & > .location {
                              color : #ff4081
                            }

                            .detail-icon {
                              font-size: inherit;
                              vertical-align: middle;
                              margin-right: 5px;
                              margin-top: -3px;
                            }

                            & > h3 {
                              margin-top: 0;
                              height: 80px;

                              @at-root #{selector-replace(&, '.event.card', '.event.card:hover')} {
                                color: #283593;
                              }
                            }

                            & > p {
                              text-overflow: ellipsis;
                              overflow: hidden;
                              height: 120px;
                            }

                            & > span {
                              position: relative;
                              float: right;
                              top: -20px;
                              font-size: 14px;
                              color: #303F9F;

                              i {
                                  position: relative;
                                  top: 7px;
                                  left: 4px;
                              }
                            }
                          }
                        }

                        & > .background {
                          position: absolute;
                          top: 0;
                          left: 0;
                          right: 0;
                          bottom: 228px;
                          background-color: $tertiary-color;
                          z-index: -1;
                          background-repeat: no-repeat;
                          background-position: bottom right;
                          background-size: contain;
                        }

                        & > .speakers {
                          background: #7986CB;
                          z-index: 1;
                          position: absolute;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          transition-property: top;
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          transition-delay: .3s;

                          & > .content {
                            padding: 50px 20px 0 20px;
                            transition-property: opacity;
                            transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            transition-delay: .45s;

                            &::before {
                              content: 'speakers';
                              text-transform: uppercase;
                              position: absolute;
                              font-weight: bold;
                              top: 20px;
                              left: 20px;
                              color: $light-secondary-text-color;
                            }

                            & > .avatar {
                              width: 56px;
                              height: 56px;
                              border-radius: 50%;
                              border: 1px solid $light-icon-text-color;
                              margin: 0;
                              margin-right: 20px;
                              margin-bottom: 20px;
                            }

                            p {
                              color: $light-primary-text-color;
                            }
                          }
                        }

                        & > .agenda {
                          display: none;
                          z-index: 1;
                          background: #7986CB;
                          @extend .mdl-grid;
                          @extend .mdl-grid--no-spacing;
                          padding: 0;

                          & > .content {
                            @extend .mdl-grid;
                            padding: 60px 0 20px;
                            transition-property: opacity;
                            transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            position: relative;

                            &::before {
                              content: 'agenda';
                              text-transform: uppercase;
                              font-weight: bold;
                              position: absolute;
                              top: 20px;
                              left: 20px;
                              color: $light-hint-text-color;
                            }

                            & > .thumbnail {
                              @extend .mdl-cell;
                              @extend .mdl-cell--2-col-desktop;
                              @extend .mdl-cell--2-col-tablet;
                              @extend .mdl-cell--1-col-phone;
                              margin: 0;
                              text-align: center;
                              color: $light-primary-text-color;

                              h5, h6 {
                                color: $light-primary-text-color;
                                margin: 0;
                              }

                              &.break {
                                h5 {
                                  font-size: inherit;
                                  margin: 0;
                                }
                              }
                            }

                            & > .info {
                              @extend .mdl-cell;
                              @extend .mdl-cell--10-col-desktop;
                              @extend .mdl-cell--6-col-tablet;
                              @extend .mdl-cell--3-col-phone;
                              -webkit-flex-grow: 1;
                              -ms-flex-positive: 1;
                              flex-grow: 1;
                              -webkit-flex-shrink: 0;
                              -ms-flex-negative: 0;
                              flex-shrink: 0;
                              padding: 0 20px 20px 0;
                              margin: 0;
                              color: $light-disabled-text-color;

                              .avatar {
                                float: left;
                                width: 40px;
                                border-radius: 50%;
                                margin-right: 20px;
                              }

                              h6 {
                                margin: -10px 0 8px;
                                text-transform: capitalize;
                                font-size: small;
                                color: $light-disabled-text-color;
                              }

                              h5 {
                                margin: 0;
                                text-transform: capitalize;
                                margin-bottom: 0.5em;
                                font-size: inherit;
                                color: $light-primary-text-color;
                              }

                              p {
                                margin-bottom: 0;
                                color: $light-secondary-text-color;
                              }

                              &.break {

                                .centerer {
                                  white-space: nowrap;
                                  height: 100%;

                                  &:before {
                                    content: '';
                                    display: inline-block;
                                    height: 100%;
                                    vertical-align: middle;
                                    margin-right: -0.25em;
                                  }

                                  h5 {
                                    text-transform: uppercase;
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 300px;
                                  }
                                }
                              }
                            }
                          }
                        }

                        & > .secondary.info {
                          position: absolute;
                          z-index: 2;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          background: #5C6BC0;
                          transition-property: top;
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          transition-delay: .45s;
                          min-height: 110px;

                          & > .content {
                            padding: 20px;
                            position: relative;
                            width: 100%;
                            height: 100%;
                            transition-property: opacity;
                            transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            transition-delay: .6s;

                            & > .location {
                              position: relative;
                              width: 50%;
                              float: left;

                              &::before {
                                content: 'location';
                                text-transform: uppercase;
                                color: $light-hint-text-color;
                              }

                              & > address {
                                color: $light-primary-text-color;
                                font-size: 0.875em;
                                line-height: 1.5em;
                                margin-top: 10px;
                              }

                              .filler {
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                                height: 200px;
                                position: relative;
                                display: none;
                              }
                            }

                            & > .attending {
                              position: relative;
                              float: right;
                              width: 50%;
                              padding-left: 20px;

                              &::before {
                                content: 'attending';
                                text-transform: uppercase;
                                color: $light-hint-text-color;
                              }

                              & > p {
                                margin: 10px 0 0;
                                color: $light-primary-text-color;
                              }

                            }
                          }
                        }

                        & > .join.event.button {
                            @extend .mdl-button;
                            @extend .mdl-button--fab;
                            @extend .mdl-color--accent;

                            color: white;
                            position: absolute;
                            bottom: 82px;
                            right: 28px;
                            height: 56px;
                            width: 56px;
                            z-index: 20;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: .3s cubic-bezier(.65,-0.40,.49,1.40);
                            transition-delay: .45s;

                            &.no.delay {
                              transition-delay: 0s;
                            }

                            & > .join.icon {
                              transition-delay: .6s;
                              transition-duration: .3s;
                            }

                            &.expand {
                              cursor: default;
                              transition:.3s cubic-bezier(.65,-0.68,.49,1.94);
                              transition-delay: .1s;

                              & + .event.form {
                                padding: 20px;
                              }
                            }
                        }

                        & > .shrink {
                          @extend .mdl-button;
                          @extend .mdl-button--fab;
                          @extend .mdl-color--accent;
                          position: absolute;
                          top: 20px;
                          right: 20px;
                          z-index: 20;
                          border-radius: 50%;
                          cursor: pointer;
                          transition: .3s cubic-bezier(.65,-0.40,.49,1.40);
                          transition-delay: .45s;
                          color: white;
                        }

                        .event.form {
                          z-index: 20;
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          transition-delay: .3s;

                          & > .input.element {
                            @extend .mdl-textfield;

                            & > input {
                              @extend .mdl-textfield__input;

                              color: white;
                              border-color: $light-secondary-text-color !important;
                            }

                            & > label {
                              @extend .mdl-textfield__label;
                              color: white;

                              &:after {
                                background-color: $light-primary-text-color;
                              }
                            }

                            & > span {
                              position: absolute;
                              bottom: -5px;
                              display: none;
                              font-size: 0.875em;
                            }
                          }

                          & > .input.element.is-dirty.is-invalid {
                            & > span {
                              display: inline-block;
                            }
                          }

                          & > .input.element.is-invalid + & > .input.element.is-invalid + & > .input.element.is-invalid + button {
                            opacity: 0.5;
                          }

                          & > p {
                            color: white;
                          }

                          & > button {
                            @extend .mdl-button;
                            display: block;
                            background: white;
                            color: $primary-accent !important;

                            &[type=submit] {
                              margin: 20px auto;
                            }

                            &[disabled] {
                              background-color: #FFF;
                              opacity: 0.6;
                            }

                            &:hover,
                            &:active,
                            &:focus {
                              background: #fefefe;
                              color: $primary-accent !important;
                            }
                          }
                        }

                        &.expanded {
                          z-index: 11;
                          height: auto;
                          width: auto;
                          cursor: auto;

                          & > .primary.info {
                            position: initial;
                            height: 312px;
                            float: left;
                            width: 65%;
                          }

                          & > .background {
                            height: 312px;
                            float: right;
                          }

                          & > .speakers {
                            display: none;
                          }
                          & > .agenda {
                            display: block;
                            min-width: 885px;
                          }

                          & > .secondary.info {
                            position: initial;
                            top: 0;
                            height: auto;

                            & > .content {
                              float: left;

                              & > .location {
                              padding: 0 20px 0 0;

                                & > address {
                                  position: initial;
                                  top: 0;
                                  margin-bottom: 10px;
                                }

                                .filler {
                                  display: block;
                                  margin: 20px 0;
                                }
                              }

                              & > .attending::before {
                                content: 'registration';
                              }
                            }
                          }
                        }
                    }

                    & > nav {
                        @extend .mdl-cell;
                        @extend .mdl-cell--4-col-phone;
                        @extend .mdl-cell--8-col-tablet;
                        @extend .mdl-cell--12-col-desktop;

                        margin: 12px 15px;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-justify-content: space-between;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: white;
                        font-weight: 500;

                        & > a {
                            color: white;
                            text-decoration: none;
                            margin-left: auto;

                            & > button {
                                @extend .mdl-button;
                                @extend .mdl-button--icon;
                            }
                        }
                    }
                }

                & > footer {

                    @extend .mdl-mini-footer;
                    margin-top: 80px;
                    padding: 25px 40px;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    -ms-grid-row-align: center;
                    align-items: center;
                    background-color: white;

                    & > .section {

                      &.right {
                        margin-left: auto !important;
                        float: none !important;

                        p {
                          margin: 0;
                        }
                      }

                      & > .social.button {
                        @extend .mdl-mini-footer--social-btn;
                        position: relative;
                        top: 3px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        margin: 0 16px;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        opacity: 0.46;
                        border-radius: 2px;
                        display: inline-block;

                        &.twitter {
                            background-image: url('../images/logos/twitter.png');
                        }

                        &.facebook {
                            background-image: url('../images/logos/facebook.png');
                        }
                    }

                    }
                }
            }
        }
    }
}
