.devday.home {

    &::before {
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        content: '';
        will-change: transform;
        z-index: -2;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: fixed;

        // background image source: https://www.pexels.com/photo/people-meeting-workspace-team-7097/

        @media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
          (max-width: 512px)  and (min-resolution: 1.5dppx),
          (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
          (max-width: 1024px) and (max-resolution: 1.5dppx) {
            background-image: url('../images/bg_1024.jpg');
        }

        @media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
            (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
            (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
            (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
            background-image: url('../images/bg_2048.jpg');
        }
        
        @media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
            (min-width: 1025px) and (min-resolution: 1.5dppx),
            (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
            (min-width: 2049px) and (max-resolution: 1.5dppx) {
            background-image: url('../images/bg_2880.jpg');
        }
    }


    &::after {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        content: '';
        will-change: transform;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: fixed;
    }
    
    & > .container {
        @extend .mdl-layout__container;
        
        & > .layout {
            @extend .mdl-layout;
            @extend .has-drawer;
            @extend .is-upgraded;

            & > .content {
                @extend .mdl-layout__content;
                position: relative;

                & > header {
                    
                    padding: 20px;

                    & > h1 {
                        text-align: center;

                        & > img {
                            width: 75%;
                            max-width: 840px;
                        }
                    }

                    & > h2 {
                        text-align: center;
                        color: white;
                        font-weight: 100;
                        font-size: 2em;
                        line-height: 1em;
                        max-width: 90%;
                        margin: 0 auto;
                        height: 130px;

                        & > span {
                            border-bottom: 1px rgba(255,255,255,0.87) solid;
                            // TODO: Check if needed
                            // display: inline-block;

                            &.noun {
                                width: 160px;
                            }

                            &.topic {
                                width: 210px;
                            }
                        }
                    }
                }

                & > main {
                    @extend .mdl-grid;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    max-width: 900px;
                    padding: 0;
                    width: 100%;
                    margin: 0 auto;
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;

                    & > .event.card {
                        @extend .mdl-card;
                        @extend .mdl-cell;
                        @extend .mdl-cell--4-col-phone;
                        @extend .mdl-cell--4-col-tablet;
                        @extend .mdl-cell--6-col-desktop;

                        z-index: 10;
                        height: 540px;
                        background: white;

                        -moz-transform: scale(0);
                        -webkit-transform: scale(0);
                        transform: scale(0);
                        opacity: 0;
                        -moz-transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1);
                        -webkit-transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1);
                        transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1);
                        -ms-transform-origin: 0% 0%;
                        -moz-transform-origin: 0% 0%;
                        -webkit-transform-origin: 0% 0%;
                        transform-origin: 0% 0%;

                        &.show {
                          -moz-transform: scale(1);
                          -webkit-transform: scale(1);
                          transform: scale(1);
                          opacity: 1;
                        }


                        & > .primary.info {
                          position: absolute;
                          top: 0;
                          left: 0;
                          right: 100%;
                          bottom: 0;
                          -webkit-transition-property: right;
                          transition-property: right;
                          -moz-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          -webkit-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          background: white;

                          &.loaded {
                            right: 35%;
                          }

                          & > .content { 
                            padding: 20px;
                            overflow: hidden;
                            opacity: 0;
                            -moz-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            -webkit-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                            transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);

                            &.loaded {
                              opacity: 1;
                            }

                            & > h4 {
                              font-size: inherit;
                              color: $dark-secondary-text-color;
                              margin: 0;
                            }

                            & > h3 {
                              margin-top: 0;
                              height: 80px;
                            }

                            & > p {
                              text-overflow: ellipsis;
                              overflow: hidden;
                              height: 120px;
                            }
                          }
                        }

                        & > .background {
                          position: absolute;
                          top: 0;
                          left: 0;
                          right: 0;
                          bottom: 228px;
                          background-color: $tertiary-color;
                          z-index: -1;
                          background-repeat: no-repeat;
                          background-position: bottom right;
                          background-size: contain;
                        }

                        & > .speakers {
                          background: #7986CB;
                          position: absolute;
                          padding: 50px 20px 0 20px;
                          top: 540px;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          -webkit-transition-property: top;
                          transition-property: top;
                          -moz-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          -webkit-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);

                          &.loaded {
                            top: 312px;
                          }

                          &::before {
                            content: 'speakers';
                            text-transform: uppercase;
                            position: absolute;
                            font-weight: bold;
                            top: 20px;
                            left: 20px;
                            color: $light-secondary-text-color;
                          }

                          & > .avatar {
                            width: 56px;
                            height: 56px;
                            border-radius: 50%;
                            border: 1px solid $light-icon-text-color;
                            margin: 0;
                            margin-right: 20px;
                            margin-bottom: 20px;
                          }
                        }

                        & > .secondary.info {
                          position: absolute;
                          top: 540px;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          background: #5C6BC0;
                          -webkit-transition-property: top;
                          transition-property: top;
                          -moz-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          -webkit-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
                          transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);

                          &.loaded {
                            top: 440px;
                          }

                          & > .content {
                            padding: 20px;
                            position: relative;
                            width: 100%;
                            height: 100%;

                            & > .location {
                              position: relative;
                              width: 50%;
                              float: left;
                                
                              &::before {
                                content: 'location';
                                text-transform: uppercase;
                                position: absolute;
                                color: $light-hint-text-color;
                              }

                              & > address {
                                position: absolute;
                                top: 30px;
                                color: $light-primary-text-color;
                                font-size: 0.875em;
                                line-height: 1em;
                              }
                            }

                            & > .attending {
                              position: relative;
                              float: right;
                              width: 50%;

                              &::before {
                                content: 'attending';
                                text-transform: uppercase;
                                position: absolute;
                                color: $light-hint-text-color;
                              }

                              & > p {
                                position: absolute;
                                top: 30px;
                                color: $light-primary-text-color;
                              }

                            }
                          }
                        }
                        
                        & > .go.to.event.button {
                            @extend .mdl-button;
                            @extend .mdl-button--fab;
                            @extend .mdl-color--accent;
                            color: white;
                            position: absolute;
                            top: -28px;
                            right: 28px;
                            height: 56px;
                            width: 56px;
                            display: none;
                        }
                    }

                    & > nav {
                        @extend .mdl-cell;
                        @extend .mdl-cell--4-col-phone;
                        @extend .mdl-cell--8-col-tablet;
                        @extend .mdl-cell--12-col-desktop;
                        
                        margin: 12px 15px;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-justify-content: space-between;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: white;
                        font-weight: 500;

                        & > a {
                            color: white;
                            text-decoration: none;
                            margin-left: auto;

                            & > button {
                                @extend .mdl-button;
                                @extend .mdl-button--icon;
                            }
                        }
                    }
                } 

                & > footer {

                    @extend .mdl-mini-footer;
                    margin-top: 80px;
                    height: 120px;
                    padding: 40px;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    -ms-grid-row-align: center;
                    align-items: center;
                    background-color: white;

                    & > .section {

                      &.right {
                          margin-left: auto !important;
                          float: none !important;
                      }
                      
                      & > .social.button {
                        @extend .mdl-mini-footer--social-btn;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        margin: 0 16px;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        opacity: 0.46;
                        border-radius: 2px;

                        &.twitter {
                            background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png');
                        }

                        &.facebook {
                            background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_black_24dp.png');
                        }

                        &.google.plus {
                            background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_black_24dp.png');
                        }
                    }

                    }
                }
            }
        }
    }
}
