@import '../../styles/devday.scss';

.devday > .container > .layout > header {

    @extend .mdl-layout__header;
    @extend .mdl-color--primary;

    & > .container {
        @extend .android-header !optional;
        @extend .mdl-layout__header;
        @extend .mdl-layout__header--waterfall;

        & > .content {
            @extend .mdl-layout__header-row;

            & > .title {
                @extend .mdl-layout-title;

                & > img {
                    height: 24px;
                }
            }

            & > .search.box {
                @extend .mdl-textfield;
                @extend .mdl-textfield--expandable;
                @extend .mdl-textfield--floating-label;
                @extend .mdl-textfield--align-right;
                @extend .mdl-textfield--full-width;

                & > label {
                    @extend .mdl-button;
                    @extend .mdl-button--icon;
                }

                & > .input.holder {
                    @extend .mdl-textfield__expandable-holder;

                    & > input[type=text] {
                        @extend .textfield__input !optional;
                    }
                }
            }

            & > .navigation.container {
                @extend .mdl-navigation;

                direction: rtl;
                -webkit-order: 1;
                -ms-flex-order: 1;
                order: 1;
                margin-left: auto!important;
                width: auto;
                transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                
                & > nav {
                    display: inline-block;
                    height: 60px;
                    line-height: 68px;
                    background-color: transparent !important;
                    border-bottom: 4px solid transparent;

                    & > a {
                        @extend .mdl-navigation__link;
                        @extend .mdl-typography--text-uppercase;
                    }
                }
            }
        }
    }
}
