<!DOCTYPE html>
<html lang="en">
  {% include head_mdl.html %}
<body class="devday event">
    <div class="container">
        <main>
            <section class="intro">
                <div>
                    <p>Upcoming Event: {{ page.name }} on {{ page.time | date_to_string }}</p>
                    <button>Participate</button><span>&lt;&lt; or &gt;&gt;</span><button>Present</button>
                </div>
            </section>
            <section class="agenda">
                <table>
                    <thead>
                    <tr>
                        <td>Time</td>
                        <td>Event</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sub_event in page.agenda %}
                    <tr>
                        <td>{{ sub_event.time }}</td>
                        <td>{{ sub_event.title }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            <section class="info"></section>
        </main>
    </div>
</body>
</html>
